{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleFotos.css' %}" type="text/css">
{% endblock %}

{% block title %} Fotos {% endblock %}

{% block body %}

<body style="background: #dbe7ff;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Vigilancia Inteligente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Telefonos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cámaras <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alertas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Horarios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fotos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-i'^media/(?P<path>.*)$',tem">
                    <a class="nav-link" href="#">Ayuda <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <h1 class="display-5 text-center" style="color: 1f1f1f; text-shadow: 1px 1px 1px #000000;" >Fotos</h1>

    <div class="container fluid py-2">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
            <a class="nav-link"  href="/vibackend/pruebaFoto/">Fotos sin etiquetar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vibackend/fotosTagueadas/">Fotos etiquetadas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Buscar por fecha</a>
            </li>
        </ul>
    </div>

<div class="container-sm py-1">
    <div class="card">
        <div class="card-body">
            <form action="/vibackend/fotosFechaFiltradas/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="fechaInicio" >Fecha inicio:
                        <input id="fechaInicio" name="fechaInicio" class="form-control" type="date">
                    </label>

                    <label for="fechaFin" >Fecha fin:
                        <input id="fechaFin" name="fechaFin" class="form-control" type="date">
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class = "btn btn-success text-white"> Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

    
</body>
{% endblock %}

