Django==4.0.3
vidgear==0.2.5
opencv-contrib-python-headless
torch==1.11.0
torchvision==0.12.0
telegram==0.0.1
python-telegram-bot
Pillow==9.0.1
mysql==0.0.3
mysql-client==0.0.1
mysql-connector==2.2.9
mysqlclient==2.1.0
yolov5==6.0.6
whitenoise==6.0.0
